<div>
  <h2>יצירת יישום בסיסי ב-FastAPI</h2>
  <p>ליצירת יישום בסיסי ב-FastAPI, עקבו אחר השלבים הבאים:</p>

  <h3>יצירת קובץ Python חדש</h3>
  <p>צרו קובץ Python חדש בשם <code>main.py</code> ופתחו אותו בעורך טקסט.</p>

  <h3>ייבוא ה-FastAPI</h3>
  <pre><code>from fastapi import FastAPI</code></pre>
  <p>ייבאו את הספריה <code>FastAPI</code> כדי ליצור את היישום.</p>

  <h3>יצירת היישום</h3>
  <pre><code>app = FastAPI()</code></pre>
  <p>יצרו אובייקט חדש של <code>FastAPI</code> ואחסנו אותו במשתנה <code>app</code>.</p>

  <h3>הוספת נתיב בסיסי</h3>
  <pre><code>@app.get("/")
def root():
    return {"message": "שלום, עולם!"}</code></pre>
  <p>הוסיפו פונקציה הנקראת <code>root</code> עם הדקורטור <code>@app.get("/")</code>. פונקציה זו תחזיר תגובה JSON עם המסר "שלום, עולם!" כאשר הנתיב הבסיסי <code>/</code> מבוקש.</p>

  <h3>הרצת היישום</h3>
  <p>לאחר יצירת הקובץ <code>main.py</code>, הריצו את הפקודה הבאה בטרמינל:</p>
  <pre><code>uvicorn main:app --reload</code></pre>
  <p>זה יריץ את היישום שלכם בכתובת <code>http://localhost:8000</code>. בקרו בכתובת זו בדפדפן כדי לראות את התגובה "שלום, עולם!".</p>

  <h3>צעדים הבאים</h3>
  <p>עכשיו, כשיש לכם יישום בסיסי, תוכלו להוסיף נתיבים נוספים, לקבל קלט מהמשתמש, לטפל בבקשות POST, PUT ו-DELETE, ולבנות יישומים מורכבים יותר.</p>
</div>