
        <h1>כתובת היישום FastAPI</h1>
        <p>היישום יהיה זמין בכתובת:</p>
        <pre><code>http://localhost:8000</code></pre>
        <p>כברירת מחדל, FastAPI מאזין לבקשות HTTP בכתובת <code>http://localhost:8000</code>. ניתן לשנות את הכתובת והפורט באמצעות הפרמטרים של הפקודה <code>uvicorn</code>.</p>
        <p>לדוגמה, כדי להריץ את היישום בכתובת <code>http://127.0.0.1:5000</code>, יש להריץ את הפקודה הבאה:</p>
        <pre><code>uvicorn main:app --host 127.0.0.1 --port 5000</code></pre>
        <p>הפרמטר <code>--host</code> מציין את הכתובת IP שהשרת יאזין אליה, ו-<code>--port</code> מציין את הפורט שהשרת יאזין אליו.</p>
        <p>ניתן גם להריץ את היישום בכתובת IP ציבורית, כך שיהיה נגיש מכל כתובת IP. לדוגמה:</p>
        <pre><code>uvicorn main:app --host 0.0.0.0 --port 8080</code></pre>
        <p>הפקודה הזו תריץ את היישום בכתובת <code>http://your_public_ip:8080</code>, כאשר <code>your_public_ip</code> היא הכתובת הציבורית של המחשב שלך.</p>
        <p><strong>שים לב:</strong> הרצת יישום באופן ציבורי עלולה לחשוף את המחשב שלך לסיכונים אבטחה. לכן, מומלץ להשתמש בשרת ייעודי או בשירותי ענן לצורכי הפצה.</p>
        <h2>Swagger UI</h2>
        <p>FastAPI מספק ממשק משתמש אינטראקטיבי להתרעננות בעזרת Swagger UI. ניתן לגשת אליו בכתובת:</p>
        <pre><code>http://localhost:8000/docs</code></pre>
        <p>Swagger UI מאפשר לך לראות את המסמכים של API שלך, לנסות את הניתובים השונים, ולהציג דוגמאות לבקשות ולתגובות.</p>
      </div>

