<h1>FastAPI עם PostgreSQL ו-SQLAlchemy</h1>

<h2>הגדרת SQLAlchemy</h2>
<pre>
<code>
מ-'sqlalchemy' מייצאים את 'create_engine', 'declarative_base', ו-'sessionmaker'

שלב זה מגדיר את החיבור לבסיס הנתונים על ידי יצירת 'engine'.
SessionLocal הוא מנהל הסשן שישמש ליצירת סשן חדש עבור כל בקשה.

'Base' הוא מחלקה אבסטרקטית מהחבילה 'declarative_base' שמאפשרת לנו להגדיר מודלים.
</code>
</pre>

<h2>הגדרת מודלים</h2>
<pre>
<code>
מ-'sqlalchemy' מייצאים את 'Column', 'Integer', 'String', 'Float', ו-'Boolean'

המודל 'Item' מייצג רשומה בטבלת 'items' בבסיס הנתונים.
</code>
</pre>

<h2>יצירת טבלה (אופציונלי)</h2>
<pre>
<code>
פקודה זו יוצרת את כל הטבלאות בבסיס הנתונים על ידי המיפוי של מודלים לטבלאות.
</code>
</pre>

<h2>שימוש ב-Sessions</h2>
<pre>
<code>
מ-'sqlalchemy.orm' מייצאים את 'Session'

פונקציה זו מקבלת סשן חדש ומחזירה אותו.
בסיום השימוש בסשן, הוא ייסגר וישוחרר מהזיכרון.
</code>
</pre>

<h2>CRUD פונקציות</h2>
<pre>
<code>
מ-'sqlalchemy.orm' מייצאים את 'Session'

פונקציות אלו מבצעות פעולות יצירה, קריאה, עדכון ומחיקה על אובייקטים בבסיס הנתונים.

- create_item: מקבלת סשן ופריט חדש ומוסיפה את הפריט לבסיס הנתונים.
- get_item: מקבלת סשן ומזהה פריט, ומחזירה את הפריט המתאים מבסיס הנתונים, אם הוא קיים, או None אחרת.
- update_item: מקבלת סשן, מזהה פריט ופריט מעודכן, ומעדכנת את הפריט המתאים בבסיס הנתונים.
- delete_item: מקבלת סשן ומזהה פריט, ומוחקת את הפריט מבסיס הנתונים.
</code>
</pre>


<h1>תרגולים מורכבים עם FastAPI, ORM ו-PgSQL</h1>

<!-- תרגיל 1 -->
<h2>תרגיל 1: מערכת ניהול משתמשים</h2>
<p>צור מערכת FastAPI לניהול משתמשים הכוללת יצירה, עדכון, קריאה ומחיקה של משתמשים.</p>

<!-- תרגיל 2 -->
<h2>תרגיל 2: מערכת פורום</h2>
<p>צור מערכת FastAPI לניהול פורום הכוללת יצירה, עדכון, קריאה ומחיקה של פוסטים ותגובות.</p>

<!-- תרגיל 3 -->
<h2>תרגיל 3: מערכת משימות</h2>
<p>צור מערכת FastAPI לניהול משימות הכוללת יצירה, עדכון, קריאה ומחיקה של משימות.</p>

<!-- תרגיל 4 -->
<h2>תרגיל 4: מערכת חנות מקוונת</h2>
<p>צור מערכת FastAPI לניהול חנות מקוונת הכוללת יצירה, עדכון, קריאה ומחיקה של מוצרים והזמנות.</p>

<!-- תרגיל 5 -->
<h2>תרגיל 5: מערכת בנקאות</h2>
<p>צור מערכת FastAPI לניהול בנקאות הכוללת יצירה, עדכון, קריאה ומחיקה של חשבונות בנק ופעולות פיננסיות.</p>


אתה יכול להשתמש בתרגילים אלו כדי להתאמן עם FastAPI, ORM ו-PgSQL בצורה מורכבת יותר.

