<div class="content" dir="rtl">

       <h1>הרצת יישום FastAPI</h1>
       <p>ניתן להריץ את היישום באמצעות הפקודה:</p>
       <pre><code>uvicorn main:app --reload</code></pre>
       <p>הפקודה <code>uvicorn</code> היא שרת הפיתוח של FastAPI. היא מריצה את היישום שלך ומאזינה לבקשות HTTP.</p>
       <p>הפרמטר <code>main:app</code> מצביע על המודול והיישום שלך. במקרה זה, היישום מוגדר במודול בשם <code>main.py</code> ונקרא <code>app</code>.</p>
       <p>הפרמטר <code>--reload</code> גורם ל-uvicorn לטעון מחדש את היישום שלך כאשר אתה משנה את הקוד, כך שתוכל לראות את השינויים ללא צורך להפעיל מחדש את השרת ידנית.</p>
     </div>
